* {
    margin: 0;
    padding: 0;
}

/* Стилизация скроллов */
::-webkit-scrollbar { width: 10px; height: 18px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #3bb4bc;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}

/* Настройка основных блоков */
.container{
    max-width: 1480px;
    min-width: 1157px;
    margin: 0 auto;
}

#left_side_window {
    float: left;
    position: relative;
    background-color: #0e1214;
    width: 14.48%;
    min-height: 650px;
    height: calc(100vh - 40px);
    border-top: 8px solid #3bb4bc;
}

#top_menu_bar {
    overflow: hidden;
    float: left;
    width: 65%;
    min-height: 62px;
    background-color: #ffffff;
}

#profile_menu_bar {
    overflow: hidden;
    width: 20.52%;
    background-color: #ffffff;
    min-height: 62px;
}

#content_block {
    float: left;
    width: 65%;
    background-color: ffffff;
}

#content_block #top_pictures_bar {
    height: 240px;
    width: 100%;
    background-color: antiquewhite;
    background-image: url(../img/content_testing.jpg);
    background-size: 100%;
}

#content_block #content {
    overflow: scroll;
    overflow-x: hidden;
    min-height: 355.8px;
    height: calc(100vh - 334px);
    width: 100%;
    background-color: #fff;
    color: #8c8c8c;
}

#right_bar {
    float: right;
    position: relative;
    width: 20.52%;
    background-color: #0e1214;
    min-height: 596px;
    height: calc(100vh - 94px);
}

#footer {
    overflow: hidden;
    width: 100%;
    height: 20px;
    background-color: #7fb1b4;
}

/* Отключение стилей для ссылок */
a {
  color: inherit;
  text-decoration: inherit;
}

/* Стилизация текста левого меню */
#left_side_window {
    color: #37434b;
}

/* Стилизация списков левого меню */
#left_side_menu, #dropdown_profile_menu, #profile_photo, #profile, li {
    list-style-type: none;
}

/* Стилизация логотипа левого бара */
#logo {
    margin-top: 22px;
    width: 87.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
#logo img {
    display: block;
    height: 65px;
}

/* Стилизация блоков переходов левого меню */
#left_side_menu li {
    margin-left: 6px;
    padding-bottom: 1px;
    background-color: #191e23;
    height: 50px;
    line-height: 300%;
    text-indent: 36px;
}

#left_side_menu li:hover {
    box-shadow: -5px 0px 0px 0px #329ea5;
    background-color: #3bb4bc;
    color: #ffffff;
}

/* Стилизация меню профиля топ бара */
#user_profile {
    position: absolute;
    margin-top: 16px;
    margin-left: 30px;
    padding-right: 22px;
    margin-right: 24px;
    height: 30px;
    min-width: 135px;
    line-height: 200%;
    color: #d9d9d9;
    box-shadow: 2px 0 0 0 #ebebeb;
}

#user_profile > img {
    float: left;
    margin-right: 15px;
    height: 27px;
    width: 27px;
    border: 2px solid #000;
    border-radius: 40px;
}

#user_profile:hover img {
    box-shadow: 0px 0px 3px 3px #329ea5;
}

/* Выпадающий список меню профиля */
#dropdown_profile_menu {
    position: absolute;
    z-index: 1;
    width: calc(100% - 22px);
    visibility: hidden;
    margin-top: 10px;
    background-color: #fff;
    color: #000;
    line-height: 150%;
    text-indent: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#user_profile:hover {
    cursor: pointer;
}

#user_profile:active {
    cursor: default;
}

#dropdown_profile_menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#dropdown_profile_menu li:hover {
    margin-left: 5px;
    text-indent: 10px;
    
    box-shadow: -5px 0px 0px 0px #329ea5;
    background-color: #3bb4bc;
    color: #ffffff;
}

/* Нотификации/уведомления */
#notifications {
    position: static;
    margin-left: 207px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}

#notifications img {
    width: 20px;
}

#notifications img:hover, #notifications img:focus {
    animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
    backface-visibility: hidden;
    transform-origin: top right;
    cursor: pointer;
 }

#notifications img:active {
    cursor: default;
}

@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}

#count_of_notifications {
    position: absolute;
    width: 13px;
    text-align: center;
    border-radius: 8px;
    z-index: 2;    
    margin-top: -9px;
    margin-left: 12px;
    background-color: #f00;
    font-size: 13px;
    color: #fff;
}

/* Контент нотификаций */
#notifications_content {
    position: absolute;
    left: 1px;
    width: 99.5%;
    height: 340px;
    background-color: #eff7f8;
    visibility: hidden;
}

#notifications_content:after, #notifications_content:before {
    position: absolute;
    bottom: 100%;
    left: 217px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
}

#notifications_content:after {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #cbe6e6;
    border-width: 12px;
    margin-left: -12px;
}
#notifications_content:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #cccccc;
    border-width: 13px;
    margin-left: -13px;
}

/* Сообщения чата */
#messages_box {
    overflow: scroll;
    overflow-x: hidden;
    height: 410px;
    width: 100%;
    color: red;
}

.chat_message {
    background-color: #191e23;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    min-height: 110px;
    margin-top: 2px;
    word-wrap: break-word;
}

.chat_profile_info {
    float: left;
    width: 80%;
    height: 38px;
    margin-top: 19px;
    margin-bottom: 23px;
    margin-left: 5%;
    color: #c0cccc;
    line-height: 350%;
}

.chat_profile_info img {
    float: left;
    width: 38px;
    height: 38px;
    margin-right: 18px;
    border-radius: 55px;
}

.chat_message_time {
    float: right;
    margin-right: 5%;
    padding-top: 36px;
    color: #5b646c;
}

.chat_text {
    text-align: justify;
    clear: both;
    color: #d1d2d3;
    margin-left: 5%;
    margin-right: 5%
}

/* Бокс для отправки сообщений */
#message_sender_box {
    position: relative;
    width: 100%;
    background-color: #0e1214;
}

#message_sender_box {
    color: #3bb4bc;
    padding-top: 31px;
    min-height: 50px;
}

#message_sender_box input {
    color: #c0cccc;
    background-color: #0e1214;
    width: 150px;
}

#message_sender_box  #recipient, #message_to_send {
    width: 250px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 10px;
}

#message_sender_box textarea {
    resize: none;
    color: #848687;
    background-color: #0e1214;
}

#message_sender_box:after, #message_sender_box:before {
    position: absolute;
    bottom: 100%;
    left: 157px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
}

#message_sender_box:after {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #0e1214;
    border-width: 12px;
    margin-left: -12px;
}

#message_sender_box:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #cccccc;
    border-width: 13px;
    margin-left: -13px;
}

/* Личные контакты */
#facebook, #vk {
    float: left;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 140%;
    background-color: silver;
    box-shadow: 0px 0px 4px 4px #329ea5;
}

#personal_sites {
    position: absolute;
	bottom: 20px;
    left: 30%;
    right: 0%;
}

#facebook:hover, #vk:hover, #facebook:focus, vk:focus {
    animation: spin .6s cubic-bezier(.36,.07,.19,.97) both;
    backface-visibility: hidden;
    transform-origin: center;
    cursor: pointer;
 }

#facebook:active, #vk:active {
    cursor: default;
    box-shadow: 0px 0px 4px 4px #f00;
}

@keyframes spin {
  0% { transform: rotate(0); }
  8% { transform: rotate(30deg); }
  16% { transform: rotate(60deg); }
  24% { transform: rotate(90deg); }
  32% { transform: rotate(120deg); }
  40% { transform: rotate(150deg); }
  48% { transform: rotate(180deg); }
  56% { transform: rotate(210deg); }
  64% { transform: rotate(240deg); }
  72% { transform: rotate(270deg); }
  80% { transform: rotate(300deg); }
  88% { transform: rotate(330deg); }
  96% { transform: rotate(350deg); }
  100% { transform: rotate(0); }
}