* {
    margin: 0;
    padding: 0;
}

/* Настройка основных блоков */
.container{
    max-width: 1480px;
    min-width: 1157px;
    margin: 0 auto;
}

.left_side_window {
    float: left;
    background-color: #0e1214;
    width: 14.48%;
    min-height: 400px;
    height: calc(100vh - 40px);
    border-top: 8px solid #3bb4bc;
}

.top_menu_bar {
    overflow: hidden;
    float: left;
    width: 65%;
    min-height: 62px;
    background-color: #ffffff;
}

.profile_menu_bar {
    overflow: hidden;
    width: 20.52%;
    background-color: #ffffff;
    min-height: 62px;
}

.content_block {
    float: left;
    width: 65%;
    background-color: ffffff;
}

.content_block .top_pictures_bar {
    height: 240px;
    width: 100%;
    background-color: antiquewhite;
    background-image: url(../img/content_testing.jpg);
    background-size: 100%;
}

.content_block .content {
    overflow: scroll;
    overflow-x: hidden;
    min-height: 106px;
    height: calc(100vh - 334px);
    width: 100%;
    background-color: #ffffff;
    color: #8c8c8c;
}

.right_bar {
    float: right;
    width: 20.52%;
    background-color: #191e23;
    min-height: 346px;
    height: calc(100vh - 94px);
}

.footer {
    overflow: hidden;
    width: 100%;
    height: 20px;
    background-color: #7fb1b4;
}

/* Отключение стилей для ссылок */
a {
  color: inherit;
  text-decoration: inherit;
}

/* Стилизация текста левого меню */
.left_side_window {
    color: #37434b;
}

/* Стилизация списков левого меню */
.left_side_menu, .dropdown_profile_menu, .profile_photo, .profile {
    list-style-type: none;
}

/* Стилизация логотипа левого бара */
.logo {
    margin-top: 22px;
    width: 87.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.logo img {
    display: block;
    height: 65px;
}

/* Стилизация блоков переходов левого меню */
.left_side_menu li {
    margin-left: 6px;
    padding-bottom: 1px;
    background-color: #191e23;
    height: 50px;
    line-height: 300%;
    text-indent: 36px;
}

.left_side_menu li:hover {
    box-shadow: -5px 0px 0px 0px #329ea5;
    background-color: #3bb4bc;
    color: #ffffff;
}

/* Стилизация меню профиля топ бара */
.user_profile {
    display: block;
    float: left;
    margin-top: 16px;
    margin-left: 30px;
    padding-right: 22px;
    margin-right: 24px;
    height: 30px;
    line-height: 200%;
    color: #d9d9d9;
    box-shadow: 2px 0 0 0 #ebebeb;
}

.user_profile > img {
    float: left;
    margin-right: 15px;
    height: 27px;
    width: 27px;
    border: 2px solid #000;
    border-radius: 40px;
}

/* Выпадающий список меню профиля */
.dropdown_profile_menu {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    margin-top: -1px;
    background-color: #fff;
    color: #000;
    line-height: 200%;
    text-indent: 15px;
}

.user_profile:hover .dropdown_profile_menu {
    visibility: visible;
}

.dropdown_profile_menu li:hover {
    box-shadow: -5px 0px 0px 0px #329ea5;
    background-color: #3bb4bc;
    color: #ffffff;
}

/* Нотификации/уведомления */
.notifications {
    overflow: hidden;
    padding-top: 20px;
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

.notifications img {
    position: absolute;
    width: 20px;
    z-index: 1;
}

.notifications img:hover, .notifications img:focus {
    animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
    backface-visibility: hidden;
    transform-origin: top right;
 }


@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}

.count_of_notifications {
    position: absolute;
    width: 13px;
    text-align: center;
    border-radius: 8px;
    z-index: 2;    
    margin-top: -9px;
    margin-left: 12px;
    background-color: #f00;
    font-size: 13px;
    color: #fff;
}

/* Контент нотификаций */
.notifications_content {
    position: absolute;
    z-index: 0;
    margin-top: 42px;
    margin-left: -210px;
    width: 300px;
    height: 340px;
    background-color: #eff7f8;
    visibility: hidden;
}

.notifications_content:after, .notifications_content:before {
    position: absolute;
    bottom: 100%;
    right: 77px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
}

.notifications_content:after {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #cbe6e6;
    border-width: 12px;
    margin-left: -12px;
}
.notifications_content:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #cccccc;
    border-width: 13px;
    margin-left: -13px;
}