/* Настройка основных блоков */
.container{
    position: relative;
    background-color: blue;
    height: calc(100vh - 15px);
}

.left_side_window {
    float: left;
    background-color: #0e1214;
    width: 18%;
    height: calc(100vh - 40px);
    border-top: 8px solid #3bb4bc;
}

.right_bar {
    float: right;
    width: 20%;
    height: 100px;
    background-color: #191e23;
    height: calc(100vh - 94px);
}

.content_block {
    float: left;
    height: 100px;
    width: 62%;
    background-color: aquamarine;/* #ffffff;*/
    height: calc(100vh - 94px);
}

.content_block .top_pictures_bar {
    height: 240px;
    width: 100%;
    background-color: antiquewhite;
}

.content_block .content {
    height: calc(100vh - 334px);
    width: 100%;
    background-color: blue;
}

.top_menu_bar {
    overflow: hidden;
    float: left;
    left: 18%;
    width: 62%;
    height: 62px;
    background-color: #ffffff;
}

.profile_menu_bar {
    overflow: hidden;
    background-color: blueviolet;
    height: 62px;
}

.footer {
    overflow: hidden;
    width: 100%;
    height: 20px;
    background-color: brown;
}

/* Стилизация текста левого меню */
.left_side_window {
    color: #37434b;
}

/* Стилизация списков */
.left_side_menu, .profile_menu, .profile_photo, .profile {
    list-style-type: none;
}

.profile_menu > li > img {
    width: 50px;
    height: 50px;
}

/* Стилизация логотипа левого бара */
.logo > img {
    padding-top: 30px;
    padding-left: 102px;
    height: 65px;
    padding-bottom: 25px;
}

/* Стилизация блоков переходов левого меню */
.left_side_menu li {
    margin-left: 6px;
    padding-bottom: 1px;
    background-color: #191e23;
    height: 50px;
    line-height: 300%;
    text-indent: 36px;
}

.left_side_menu li:hover {
    box-shadow: -5px 0px 0px 0px #329ea5;
    background-color: #3bb4bc;
    color: #ffffff;
}

/* Стилизация меню профиля топ бара */
.user_profile > img {
    height: 27px;
    width: 27px;
}

.user_profile {
    float: right;
}

/* Выпадающий список */
.dropdown_profile_menu {
    position: absolute;
    left: 80%;
    background-color: coral;
    z-index: 1;
    display: inline;
}

.dropdown_profile_menu > ul {
    display: none;
}