/* Настройка основных блоков */
.container{
    position: relative;
    background-color: blue;
    height: calc(100vh - 15px);
}

.left_side_window {
    float: left;
    background-color: #0e1214;
    width: 18%;
    height: calc(100vh - 40px);
    border-top: 8px solid #3bb4bc;
}

.right_bar {
    float: right;
    width: 20%;
    height: 100px;
    background-color: #191e23;
    height: calc(100vh - 94px);
}

.content_block {
    float: left;
    height: 100px;
    width: 62%;
    background-color: aquamarine;/* #ffffff;*/
    height: calc(100vh - 94px);
}

.content_block .top_pictures_bar {
    height: 240px;
    width: 100%;
    background-color: antiquewhite;
    background-image: url(../img/content_testing.jpg);
    background-size: 100%;
}

.content_block .content {
    height: calc(100vh - 334px);
    width: 100%;
    background-color: #ffffff;
    color: #8c8c8c;
}

.top_menu_bar {
    overflow: hidden;
    float: left;
    left: 18%;
    width: 62%;
    height: 62px;
    background-color: #ffffff;
}

.profile_menu_bar {
    overflow: hidden;
    background-color: #ffffff;
    height: 62px;
}

.footer {
    overflow: hidden;
    width: 100%;
    height: 20px;
    background-color: #7fb1b4;
}

/* Отключение стилей для ссылок */
a {
  color: inherit;
  text-decoration: inherit;
}

/* Стилизация текста левого меню */
.left_side_window {
    color: #37434b;
}

/* Стилизация списков левого меню */
.left_side_menu, .dropdown_profile_menu, .profile_photo, .profile {
    list-style-type: none;
}

/* Стилизация логотипа левого бара */
.logo img {
    display: block;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    margin-bottom: 25px;
}

/* Стилизация блоков переходов левого меню */
.left_side_menu li {
    margin-left: 6px;
    padding-bottom: 1px;
    background-color: #191e23;
    height: 50px;
    line-height: 300%;
    text-indent: 36px;
}

.left_side_menu li:hover {
    box-shadow: -5px 0px 0px 0px #329ea5;
    background-color: #3bb4bc;
    color: #ffffff;
}

/* Стилизация меню профиля топ бара */
.user_profile {
    display: block;
    float: left;
    margin-top: 16px;
    margin-left: 30px;
    padding-right: 22px;
    margin-right: 24px;
    height: 30px;
    line-height: 200%;
    color: #d9d9d9;
    box-shadow: 2px 0 0 0 #ebebeb;
}

.user_profile > img {
    float: left;
    margin-right: 15px;
    height: 27px;
    width: 27px;
    border: 2px solid #000;
    border-radius: 40px;
}

/* Выпадающий список */
.dropdown_profile_menu {
    width: 120px;
    visibility: hidden;
    
    transition-property: opacity, visibility;
    transition-duration: 1.3s;
    transition-delay: 0.1s;
}

.user_profile:hover .dropdown_profile_menu {
    position: absolute;
    visibility: visible;
    margin-top: -1px;
    padding-bottom: 1px;
    background-color: #fff;
    color: #000;
    line-height: 200%;
    text-indent: 15px;
}

.dropdown_profile_menu li:hover {
    box-shadow: -5px 0px 0px 0px #329ea5;
    background-color: #3bb4bc;
    color: #ffffff;
}

/* Нотификации/уведомления */
.notifications {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

.notifications img {
    position: absolute;
    width: 20px;
    z-index: 1;
}

.notifications img:hover, .notifications img:focus {
    animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
    backface-visibility: hidden;
    transform-origin: top right;
 }


@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}

.count_of_notifications {
    position: absolute;
    z-index: 2;
    height: 13px;
    margin-top: -10px;
    margin-left: 10px;
    background-color: #f00;
    font-size: 13px;
    color: #fff;
}